


/* Title */
.title {
    margin-top: 70px; /**/
    color: var(--secondary200);
}

/* Options to join quiz */
.joinOptions {
    margin-top: 16px;

    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 16px; /**/
}

.codeOption {
    padding: 14px 12px;
    border-radius: var(--border2);
    width: 100%;
    border: none;
    text-align: center;

    font-family: "Montserrat-Medium";
    font-size: 14px;
}

.joinOptions p:first-child {
    color: var(--neutral600);
}

.joinOptions p:nth-child(2) {
    color: var(--neutral300);
}

.qrButton {
    min-width: 74px;
    height: 46px;
    border-radius: var(--border2);
    background-color: var(--neutral100);

    display: flex;
    justify-content: center;
    align-items: center;
}

.qr {
    width: 28px;
    height: 28px;
    z-index: 999;
}

/* Divider line */
.divider {
    height: 1px;
    width: 100%;
    background-color: var(--neutral300);
    margin: 24px 0; 
    border-radius: var(--border2);
    line-height: 0;
}

/* Popular quiz section */
.popularTitleSection{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.popularTitleSection .arrow {
   width: 24px;
   height: 24px;
}

.popularSection {
    display: flex;
    gap: 16px;
    min-height: 188px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}


/* Bottom Section */
.allGenresTitel {
    margin-top: 24px; 
}

.allGenresContainer {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px 16px; 
    align-self: stretch;
    flex-wrap: wrap;

    margin-bottom: 70px;
}

/* Mixed */
.popularTitel,
.allGenresTitel,
.popularTitleSection .arrow  {
    color: var(--secondary200);
    margin-bottom: 16px; 
}

/* Quiz Card */
.genre {
    display: flex;
    flex-direction: column;
    flex: 0 0 164px;
    
    height: 188px;
    border-radius: var(--border1);
    background-color: white;
}

.genreImg {
    height: 139px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.genreText {
    height: 49px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    }

.genreText p {
    color: black;
    padding: 16px 12px;
}

.creatorText {
    text-align: center;
}