.wrong{
    
    text-align: center;
    /* Header 03 */
    padding-top: 101px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.score{
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    padding-top: 5px;

}
.correctAnswer{
    padding-top: 50px;
    text-align: center;
}
.scoreboard{
    width: 219px;
    height: 23px;
    flex-shrink: 0;
        /* Heading 04 B */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 24px;
    margin-bottom: 20px;
}
h1, h3, .scoreboard, ol, .correctAnswer, .currentPlacement{
    color: var(--neutral100);
}

ol{
    display: flex;
    width: 345px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-left: 35px;
}
.listItem{
    
    padding-left: 0; 
    text-align: left;
}

.currentPlacement{
    display: flex;
    width: 346px;
    height: 72px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
#points{
    color: var(--neutral800);
}