
.homeButtonContainer {
    margin-top: 10px;
}

.homeButton {
    width: 24px;
    height: 24px;
}

.joinTitle {
    text-align: center;
}

.gameCodePreview {
    background-color: var(--neutral100);

    height: 46px;
    width: 100%;
    border-radius: 1000px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gameCode {
    color: black;

    font-size: 20px;
    font-weight: bold;
    letter-spacing: 80%;
}

.quizDetailsTitle {
    margin-bottom: 4px;
}

.quizDetailsTitle,
.waitingForPlayers {
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.waitingForPlayers {
    margin-bottom: 36px;
    margin-top: 12px;
}

.moderatorInfoIconContainer {
    display: flex;
    justify-content: end;
}

.moderatorInfoIcon {
    height: 24px;
    width: 24px;
    margin-bottom: 10px;
}

.startQuizButton {
    background-color: var(--primary100);
    color: var(--neutral100);
    display: flex;
    width: 100%px;
    height: 46px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;    
    border: none;
    padding: 20px;
    position: relative;
}

.startQuizButton img {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    position: absolute;
    right: 20px;
}

.waitingForHostButton {
    display: flex;
    align-items: center; 
    justify-content: center; 

    width: 100%;
    height: 46px;
    border-radius: var(--border2);
    padding: 0 20px; 
    background-color: var(--neutral500); 
}

#name.error {
    border: 2px solid red;
    outline: none; 
}

#playerContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    min-height: 50vh;
}

.playerLobby {
    background-color: var(--neutral100);
    padding: 8px 16px;
    border-radius: 100px;
    height: fit-content;
}

.playerLobby p {
    color: var(--neutral700);
    font-size: 16px;
}
