
/* Nav */

#quizNav {
    display: flex;
    width: 100%;
    height: 33px;
    align-items: center;
    gap: 250px;
    margin-top: 30px;
}

#quizNav > div {
    background-color: white;
    border-radius: 100px 0px 0px 100px;

    display: flex;
    height: 32px;
    width: 98px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    right: 0;
}

#quizNav > div > p {
    color: var(--neutral800);
}

#quizNav > button {
    width: 24px;
    height: 24px;

    background: url('/static/media/icons/back.svg') no-repeat center;
    background-size: cover;
    border: none;
    cursor: pointer;
}

/* Header */

#quizHeader {
    width: 100vw;
    height: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/static/media/images/background.png');
    background-size: contain;
    margin: 30px 0 20px -23px;
}

#quizHeader > h1 {
    color: var(--neutral100);
}

/* Countdown */

#counterCon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gif {
    height: 200px;
    width: auto;
    margin: 50px 0 12px 0;
}

#counterCon > h2, h1 {
    color: white;
    text-align: center;
}

#counterCon > h2 {
    margin: 10px 0 20px 0;
}

/* Question */

#quizContent {
    display: flex;
    width: 345px;
    height: 388px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#questionProgress {
    width: 67px;
    height: 32px;
    border-radius: 100px;
    background-color: var(--neutral100);
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    margin: 20px 0 0 0;
    transform: rotate(-5deg);
}

#questionProgress > p {
    font-size: 12px;
    color: var(--neutral800);
}

#questionText {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
}

#questionText > p {
    color: var(--neutral100);
    word-wrap: break-word;
    overflow: hidden;
    max-width: 100%;
    min-height: 60px;
    max-height: 90px;
    overflow: auto;
}

#progressBarContainer {
    width: 345px;
    height: 18px;
    border-radius: 10px;
    border: 1px solid #AFACAC;
}

#progressBar {
    background-color: var(--secondary200);
    border-radius: 10px;
    height: 16px;
    width: 100%;
    transition: width 20s linear;
}

#optionsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    align-self: stretch;
    gap: 16px;
}

.optionButton {
    border-radius: 8px;
    background-color: #0A1646;
    color: var(--neutral100);

    border: none;
    display: flex;
    width: 165px;
    height: 100px;
    padding: 20px;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.clickedOptionButton {
    background-color: var(--secondary200);
    color: var(--neutral800);
}